{% extends 'base.html' %}
{% block title %}
	Gestión de Accesos
{% endblock %}

{% block content %}
	<div class="login">
		<form class="form-inline justify-content-center" id="userPasswordForm" method="post" data-url="{% url 'login_url' %}">
			{% csrf_token %}
			<div class="login_container">
				<center><h2 class="letraBlanca2">Ingrese Usuario</h2></center>
				<center><h2 class="letraBlanca">{{form.user}}</h2></center>
				<center><h2 class="letraBlanca2">Ingrese Contraseña</h2></center>
				<center><h2 class="letraBlanca">{{form.password}}</h2></center>
				<center><button type="button" class="button_Beauty_login" id="nextButton">SIGUIENTE</button></center>
			</div>
		</form>
	</div>
{% endblock %}