* {
  margin: 0;
  padding: 0;
}

body{
  position: relative;
  background-image: url(../imagenes/fondo_.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* Color semitransparente */
  z-index: 1; /* Colocar por encima de la imagen de fondo */
}

.habitat{
  color: #14802b;
}
.security{
  color: #ff0000;
}
.titulo{
  margin-left: 5%;
  padding-top: 2%;
  font-size: 250%;
}

h1 {
  font: oblique bold 400%;
  color: #FFFFFF
}
.h1_admin{
  font: oblique bold 300%;
  color: #FFFFFF;
}
.h1_login{
  margin-left: 13%;
  font: oblique bold 300%;
}
h2 {
  font: oblique 150%;
  color: #FFFFFF;
}
h3{
  font: bold 140% monospace;
  color: #FFFFFF;
}
h4{
    font: oblique 140% monospace;
    color: #FFFFFF;
}

.letraBlanca{
  color: #FFFFFF;
  margin-right: 0px;
  font-size: 150%;
}
.letraBlanca2{
  color: #dba260;
  margin-right: 0px;
  font-size: 200%;
}
.oscurecer-img{
  filter: brightness(50%);
}
.aclarar-img{
  filter: brightness(150%);
}
.login_container{
  position: relative;
  margin-top: 0%;
  max-width: 100%;
  height: auto;
  float:right;
  margin-left: auto;
  z-index: 999;
  font-size: 100%;
  padding-right: 10%;
}
.inicioPagina{
  display: flex;
  position: relative;
  /*top:0px;
  left:0px;*/
  padding-left: 0 ;
  padding-right: 0 ;
  width: 100%;
  text-align: left;
  height: auto;
  background-color: rgb(129, 207, 139);
}
.inicioPagina img{
  height: 100%;
  max-height: 100px;
}
.finPagina{
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
  text-align: center;
  height: 8%;
}
.button_Beauty{
    position: inherit;
    text-decoration: none;
    padding: 20px;
    padding-left: 100 !important;
    padding-right: 100 !important;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 16px;
    border: 2px solid #0016b0;
}
.button_Beauty:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

.button_Beauty_login{
    width: 500px;
    position: inherit;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50 !important;
    padding-right: 100 !important;
    font-weight: 600;
    font-size: 30px;
    color: #eff5ed;
    background-color: #289213;
    border-radius: 16px;
    border: 2px solid #71e74d;
}
.button_Beauty_login:hover{
    color: #1c9430;
    background-color: #ffffff;
}

.button_Beauty2{
    position: inherit;
    text-decoration: none;
    padding: 15px;
    padding-left: 120 !important;
    padding-right: 120 !important;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 12px;
    border: 2px solid #0016b0;
}
.button_Beauty2:hover{
    color: #1883ba;
    background-color: #ffffff;
  }


th {     
    font-size: 13px;     
    font-weight: normal;     
    padding: 8px;     
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;    
    border-bottom: 1px solid #fff; 
    color: #039; 
}

td {    
    padding: 8px;     
    background: #e8edff;     
    border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent;
}

.login{
    position: center;
    margin-top: 7%;
}
tr:hover td { background: #d0dafd; color: #339; }