body{
  background-image: url(../imagenes/fondo_real.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font: oblique bold 300%;
}
.h1_admin{
  font: oblique bold 300%;
  color: #FFFFFF;
}
.h1_login{
  margin-left: 13%;
  font: oblique bold 300%;
}
h2 {
  font: oblique 150%;
}
h3{
  font: bold 140% monospace;
}
h4{
    font: oblique 140% monospace;
}

.inicioPagina{
    position:fixed;
    top:0px;
    left:0px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
    text-align: left;
    height: 10%;
    background-color: rgb(234, 243, 247);
}
.finPagina{
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
  text-align: center;
  height: 8%;
  background-color: #ffffff;
}
.button_Beauty{
    position: inherit;
    text-decoration: none;
    padding: 20px;
    padding-left: 100 !important;
    padding-right: 100 !important;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 16px;
    border: 2px solid #0016b0;
}
.button_Beauty:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

.button_Beauty_login{
    width: 500px;
    position: inherit;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50 !important;
    padding-right: 100 !important;
    font-weight: 600;
    font-size: 30px;
    color: #eff5ed;
    background-color: #5fe744;
    border-radius: 16px;
    border: 2px solid #71e74d;
}
.button_Beauty_login:hover{
    color: #40db5a;
    background-color: #ffffff;
}

.button_Beauty2{
    position: inherit;
    text-decoration: none;
    padding: 15px;
    padding-left: 120 !important;
    padding-right: 120 !important;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 12px;
    border: 2px solid #0016b0;
}
.button_Beauty2:hover{
    color: #1883ba;
    background-color: #ffffff;
  }


th {     
    font-size: 13px;     
    font-weight: normal;     
    padding: 8px;     
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;    
    border-bottom: 1px solid #fff; 
    color: #039; 
}

td {    
    padding: 8px;     
    background: #e8edff;     
    border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent;
}

.login{
    position: center;
    margin-top: 7%;
}
tr:hover td { background: #d0dafd; color: #339; }