{% extends 'base.html' %}
{% block title %}
	Gestión de Accesos Admin
{% endblock %}
{% block content %}
	<div>
		<center><h1 class = "h1_admin">Bienvenido Administador</h1></center>
	</div>
	<div>
    	<center><button onclick="aVisita_admin()" class="button_Beauty" id="Avisita">Agendar Visita</button></center>
    	<center><button onclick="cVisita_admin()" class="button_Beauty" id="Cvisita">Eliminar Visita</button></center>
    	<center><button onclick="agenda_admin()" class="button_Beauty" id="Agenda">Agenda Del Día</button></center>
    	<center><button onclick="bitacora_admin()" class="button_Beauty" id="Bitacora">Bitacoras</button></center>
    	<center><button onclick="qrControl_admin()" class="button_Beauty" id="qrControl">Control Visitas</button></center>
	</div>
{% endblock %}