{% extends 'base.html' %}
{% block title %}
	Agendar visita
{% endblock %}
{% block content %}
	<div class="col-8 mt-5">
		<center><h1>Rellene el formulario</h1></center>
		<center><h4>*Campos opcionales: Empresa, Observaciones, Patente*</h4></center>
		<center><h4>*Tipo visita: 1 familiar, 2 empresa, 3 otro*</h4></center>
		<form class="form-inline justify-content-center" id="VisitsForm" method="post" data-url="{% url 'agendarAdmin' %}">
			{% csrf_token %}
			{% for field in form %}
				<center><div class="mx-3">
					<h4>{{field.name}}: {{ field }}</h4>
				</div></center>
			{% endfor %}
			<center><button type="button" onclick="alertar_admin()" class="btn btn-outline-success" id="nextButton">Siguiente</button></center>
		</form>
	</div>
{% endblock %}