{% extends 'base2.html' %}
{% block title %}
	Gestión de Accesos Admin - eliminarVisita
{% endblock %}
{% block content %}
	<div>
		<center><h1>Eliminar Visita</h1></center>
		<center><table class='table table-responsive table-bordered'>
			<caption><h2>Reservas activas:</h2></caption>
			<tr>
				<th><strong>Id</strong></th>
				<th><strong>Nombre</strong></th>
				<th><strong>Apellido</strong></th>
				<th><strong>Fecha Inicio</strong></th>
				<th><strong>Fecha Final</strong></th>
			</tr>
			{% for reserva in data %}
				<tr>
					<td>{{reserva.number}}</td>
					<td>{{reserva.nombre}}</td>
					<td>{{reserva.apellido}}</td>
					<td>{{reserva.fechainicio}}</td>
					<td>{{reserva.fechafinal}}</td>
					<td><button type="button" onclick="alertar_delete_admin({{reserva.number}})" class=" btn btn-outline-success" id="borrarButton">Borrar</button></td>
				</tr>
			{% endfor %}
		</table></center>
	</div>
	<form class="form-inline justify-content-center" id="numberForm" method="post" data-url="{% url 'deletevisit' %}">
		{% csrf_token %}
	</form>
    {% endblock %}