{% extends 'base.html' %}
{% block title %}
	Gestión de Accesos Admin - eliminarVisita
{% endblock %}
{% block content %}
	<div>
		<center><h1>Eliminar Visita</h1></center>
		<center><table class='table table-responsive table-bordered'>
			<caption><h2>Reservas activas:</h2></caption>
			<tr>
				<th><strong>Id</strong></th>
				<th><strong>Nombre</strong></th>
				<th><strong>Apellido</strong></th>
				<th><strong>Fecha Inicio</strong></th>
				<th><strong>Fecha Final</strong></th>
			</tr>
			{% for reserva in data %}
				<tr>
					<td>{{reserva.number}}</td>
					<td>{{reserva.nombre}}</td>
					<td>{{reserva.apellido}}</td>
					<td>{{reserva.fechainicio}}</td>
					<td>{{reserva.fechafinal}}</td>
					<td><button type="button" onclick="alertar({{reserva.number}})" class=" btn btn-outline-success" id="borrarButton">Borrar</button></td>
				</tr>
			{% endfor %}
		</table></center>
	</div>
	<form class="form-inline justify-content-center" id="numberForm" method="post" data-url="{% url 'deletevisit' %}">
		{% csrf_token %}
	</form>
    {% block script %}
	<script type="text/javascript">

		function alertar(number){
			let opcion = confirm("estas seguro que deseas eliminar esta visita? (id "+number+")");
			if (opcion == false) return 0;
			var serializedData = $("#numberForm").serialize();
			console.log(serializedData);
			$.ajax({
				url: $("numberForm").data('url'),
				data: serializedData+'&Number='+number,
				dataType: 'json',
				type: 'post',
				success: function(response){
					alert('Eliminado exitosamente');
				},
				error: function(data){
					alert("error");
				}
			});
			console.log("formulario enviado");
		}
	</script>
{% endblock %}
{% endblock %}